@import '../../styles/variables.scss';
@import '../../styles/media-queries.scss';

.container {
  margin-bottom: 2rem;
}

.header {
  border: solid $white;
  border-width: 1px 0;
  padding: 1rem 0;
  margin-bottom: 0;
}

.listItems {
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}
